    <div class="video-player" role="region" aria-label="Video player">
      <h2 class="hidden">CBC New Welcome Pahe</h2>
      <h3 class="title">Welcome,</h3>
      <h3 class="title">To CBC News Page.</h3>
      <div class="buttons-container">
        <h2 class="hidden">Audio or Video Section Button</h2>
        <button class="audioButton audio" aria-label="audio">
          <a href="/audio">audio</a>
        </button>
        <button class="audioButton video" aria-label="video">
          <a href="/video">Video</a>
        </button>
      </div>
    </div>